.global-nav {
  width: 320px;
  height: 100%;
  max-height: 360px;
  position: fixed;
  top: 20%;
  left: 0px;
  background: #F45866;
  z-index: 40;
  transition: all 0.25s linear;
  transform: translateX(-280px) translateZ(0px);
  &.is--open {
    transform: translateX(0px) translateZ(0px);
  }
}

@media (min-width: 1px) and (max-width: 768px) {

  .global-nav {
    max-height: 100%;
    position: fixed;
    top: 0%;
    width: 100%;
    transform: translateX(-90%) translateZ(0px);
    &.is--open {
      transform: translateX(0px) translateZ(0px);
    }
  }

}
