body {
  position:absolute;
  width:100%;
  height:100%;
  font-size: 16px;
}

.canvas-container, .scene-container {
  position:absolute;
  width:100%;
  height:100%;
  z-index:0;
}

h1 {
  display:block;
  color:#FFFFFF;
  z-index: 10;
  font-family: 'Exo 2';
  font-size: 7.5em;
  font-weight: 100;
}

.headline {
  position:absolute;
  top: 50%;
  left: 50%;
}

.prism-h {
  transform: translateX(-156px) translateY(-400px);
}

.glassworks-h {
  transform: translateX(-340px) translateY(200px);
}

video {
  width: 100%;
  height: 100%;
  display:none;
}

header {
  position: absolute;
  top: 20px;
  z-index: 100;
  width: 100%;
  color: #FFFFFF;
  font-size: 1.2em;
  padding-left: 1.5em;
  line-height: 1.5em;
}

.message {
  position: absolute;
  bottom: 20px;
  z-index: 100;
  width: 100%;
  color: #FFFFFF;
  font-size: 0.6em;
  padding-left: 12px;
}

a:link, a:visited {
  color: #FFFFFF;
  position:relative;
  display:block;
  float:left;
  padding-top: 6px;
  padding-right: 6px;
  font-weight: 500;
}
