.ui--control-container {
  position: absolute;
  width: 100%;
  height: 240px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1000;
}

.ui--slider {

  .ui--slider-container {
    display: block;
    // background: rgba(222,222,222,0.2);
    transform: translateZ(0);
    z-index: 1000;
    border: 1px solid rgba(255,255,255,0.2);

    border-radius: 12px;
    .ui--slider-range {
      width: 100%;
      height: 100%;
      overflow: hidden;

    }
    .ui--slider-handle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: url('/assets/ui/slider-control-icon-transparent-01.svg');
      background-size: 44px 44px;
      background-repeat: no-repeat;
      transition: transform 0.175;

      // -webkit-box-shadow: 0px 2px 48px -3px rgba(0,0,0,0.63);
      // -moz-box-shadow: 0px 2px 48px -3px rgba(0,0,0,0.63);
      // box-shadow: 0px 2px 48px -3px rgba(0,0,0,0.63);
    }
  }
  &.is--hor {
    .ui--slider-container {
      width: 200px;
      height: 32px;
      cursor: url('/assets/ui/slider-control-icon-transparent-cursor.png') 22 22, pointer;
      .ui--slider-handle {
        background: url('/assets/ui/slider-control-icon-transparent-hor-01.svg');
      }
    }
  }
  &.is--vert {
    .ui--slider-container {
      width: 32px;
      height: 200px;
      cursor: url('/assets/ui/slider-control-icon-transparent-cursor.png') 22 22, pointer;
      .ui--slider-handle {
        background: url('/assets/ui/slider-control-icon-transparent-vert-01.svg');
      }
    }
  }
  &.is--joystick {
    .ui--slider-container {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      cursor: url('/assets/ui/slider-control-icon-transparent-cursor.png') 0 0, pointer;
      .ui--slider-handle {
        width: 32px;
        height: 32px;
      }
    }
  }
}
